body{
    font-family: sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    /* flex-direction: column; */
    align-items: center;
    height: 100vh;
    background-color: rgb(17, 17, 17);
}
.container{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    animation: anim 0.4s  infinite paused;
    box-shadow: 0 0.5px 15px rgba(248, 77, 4, 0.321),
                0 -0.5px 15px rgba(248, 77, 4, 0.321);
}
.audio-div{
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 500px;
}
.input-div{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input-div button{
    font-size: 1.5rem;
    width: 80px;
    height: 35px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
}
.input-div input{
    width: 60%;
    height: 30px;
    padding-left: 10px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
}
h2{
    color: #fff;
}
.img-div{
    width: 40%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-div img{
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 5px;
}
.control{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#play, #pause, #next, #random{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.fa-play:before, .fa-pause:before, .fa-random:before, .fa-forward:before{
    font-size: 3rem;
}
#play{
    background-color: none;
}
#play i{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}
#pause{
    display: none;
    background-color: none;
}
#pause i{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#next{
    background-color: none;
}
#next i{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#random{
    background-color: none;
}
#random i{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
@keyframes anim {
    from{
        box-shadow: 0 0.5px 15px rgba(248, 77, 4, 0.321),
                0 -0.5px 15px rgba(248, 77, 4, 0.321);
    }
    to{
        box-shadow: 0 0.5px 30px rgba(248, 77, 4, 0.321),
                0 -0.5px 30px rgba(248, 77, 4, 0.321);
    }
}
.time{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#dura, #total{
    color: #fff;
    width: 50%;
    text-align: center;
}